@using DesenvolvedorNET.ViewModels
@using DesenvolvedorNET.Models
@model UsuarioEditViewModel
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Usuário - atualização";
}
<h1>@ViewBag.Title</h1>
@using (Html.BeginForm("edit", "usuario", FormMethod.Post, new { @class = "form-horizontal" }))
{
    //input field id is hidden

    <div class="form-group">
        @Html.HiddenFor(m => m.Usuario.Id)
        @Html.LabelFor(m => m.Usuario.Nome, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Usuario.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Usuario.Nome)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Atualizar" class="btn btn-default" />
        </div>
    </div>
}